h1{
    color: red
}
h2 { color:red} 
section
.ejercicio5 p {
    text-transform: uppercase;
} 
#div ,h2{ color:blue}
.xd 
h1{ color:pink}
.prueba { color: green}
.banner {
    background-image: url(../img/11641893944_banner_zona_centro.png);
background-repeat: no-repeat; background-position:top; background-position:left; background-size:cover; ped;